<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivelight.mapper.ServiceMapper">

	<!--단일 회원 검색 -->
	<select id="userInfoSelect" parameterType="com.fivelight.domain.User" resultType="com.fivelight.domain.User">
		select * from userinfo where nickname = #{nickname}
	</select>

	<!-- 피드백 검색 -->
	<select id="feedback" parameterType="com.fivelight.domain.User" resultType="com.fivelight.domain.Feedback">
		select * from feedback where nickname = #{nickname} order by feed_num desc
	</select>
	
	<!-- 운동별(플라스크) 피드백 보여주기-->
	<select id="flaskFeedback" parameterType="com.fivelight.domain.Feedback" resultType="com.fivelight.domain.Feedback">
		select feed_num, nickname, ex_name, accuracy, feed_date, feed_con from feedback where nickname = #{nickname} and ex_name=#{ex_name} and DATE_FORMAT(feed_date, '%Y-%m-%d') = DATE_FORMAT(now(), '%Y-%m-%d') order by feed_date desc
	</select>
	
		<!-- 운동별(개인) 피드백 보여주기-->
	<select id="FeedbackDetail" parameterType="com.fivelight.domain.Feedback" resultType="com.fivelight.domain.Feedback">
		 select * from feedback where feed_num &lt;= #{feed_num} order by feed_num desc
	</select>
	

	<!-- 몸무게 변경 -->
	<update id="weight" parameterType="com.fivelight.domain.User">
		UPDATE userinfo SET weight_start = #{weight_start}, weight_now = #{weight_now}, weight_target = #{weight_target} WHERE nickname = #{nickname}
	</update>
	
	<!-- c_몸무게 변경 -->
	<update id="c_weight" parameterType="com.fivelight.domain.User">
		UPDATE userinfo SET weight_start = #{weight_start}, weight_now = #{weight_now}, weight_target = #{weight_target} WHERE nickname = #{nickname}
	</update>	

	<!-- 유저 nickname 변경 -->
	<update id="nickcorr" parameterType="com.fivelight.domain.User">
		UPDATE userinfo SET nickname = #{nickname} WHERE name = #{name}
	</update>
	
	<!-- 운동 리스트 -->	
	<select id="exercise" resultType="com.fivelight.domain.Exercise">
		select * from exercise
	</select>
	
	<!-- 운동별 운동 랭킹 리스트-->
	<select id="ranking" resultType="com.fivelight.domain.Ranking">
		select nickname, ex_name, round(sum(rank_acc) / 7, 2) as rank_acc from ranking where ex_name = #{ex_name} group by nickname order by rank_acc desc;
	</select>
	
	<!-- 개인 챌린지 그래프 -->
	<select id="rankgraph" parameterType="com.fivelight.domain.Ranking" resultType="com.fivelight.domain.Ranking">
		select * from ranking where ex_name = #{ex_name} and nickname = #{nickname} order by rank_date asc
	</select>
	
	<!-- 유저 삭제 -->
	<delete id="userdelete" parameterType="com.fivelight.domain.User">
		delete from userinfo where nickname = #{nickname}
	</delete>
	
	<!-- 피드백 파이 차트 -->
	<select id="feedchart" parameterType="String" resultType="int">
		select round(count(*) / 5) as feed_num from feedback where nickname = #{nickname} and ex_name = #{ex_name}
	</select>	
</mapper>